<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styleOther.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Doto:wght@599&family=Kode+Mono:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a class="logo" href="/"><img class="logo" src="../static/logo.png" alt="logo"></a>
    </header>
    <div class="login">

        <h2 class="login-header">Welcome</h2>

        <form class="loginForm" method="POST" action="/login">
            <div class="form-group">
                <label>Mail</label>
                <input type="text" name="email" class="form-control" required placeholder="example@mail.com">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" autocomplete="current-password" minlength="8" placeholder="***" required>
            </div>
            {% if error %}
                <div id="error-message" style="color: red; font-size: 20px;">
                    {{ error }}
                </div>
            {% endif %}
            <div class="button-container">
                <button type="submit" class="button_logon">Log on</button>
            </div>
        </form>

      </div>
      <div class="loginArea">
        <h3>No account yet?</h3>
        <div class="button-containerI">
            <a href="/registration" class="button_log">Registration</a>
        </div>
      </div>
</body>
</html>